@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


body {
    margin: 0%;
    font-family: 'Barlow', sans-serif;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #f5f5f7;
    align-items: center;
    /* position: fixed; */
}

#logo {
    width: 180px;
    height: 60px;
    margin-left: 50px;
    margin-right: 350px;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
}

li {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

#signup {
    margin-right: 50px;
}

/* Nav Finished */


.title{
    font-size: 35px;
}

.product_div {
    border: 1px solid black;
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-img {
    max-width: 400px;
    max-height: 250px;
    /* min-height: 300px; */
}





.view-product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.view-product div h1 {
    font-size: 40px;
}

.column {
    display: flex;
}

.column p {
    margin-top: 12px;
    margin-left: 10px;
}

.rate {
    margin: 0%;
    font-size: 30px;
}

.line-through {
    color: red;
    text-decoration: line-through;
    font-weight: bold;
}

.button {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

.button h6 {
    margin: 0%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    border-radius: 30px;
    color: white;
}

.button button {
    font-size: 20px;
    margin: 0%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    border-radius: 30px;
    color: white;
}

.green {
    color: rgb(4, 134, 0);
    font-weight: bold;
    text-shadow: 0px 0px 0.5px black;
}

.price-color {
    color: rgb(101, 101, 101);
}

ol li {
    font: bold;
}

.size {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.size h5 {
    padding: 10px;
    border: 1px solid black;
    transition: transform .2s;
}

.size h5:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 20px 4px solid black;
}

.star-rating {
    width: 100px;
}

.star-center-tag {
    display: flex;
    align-items: center;
}

.star-center-tag h3,
h4 {
    margin: 0%;
}

.offer-items {
    display: flex;
    min-width: 200px;
    max-width: 440px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    transition: tranform .2s;
}

.offer-items:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 20px 4px gainsboro;
}

.offer-img {
    width: 200px;
    height: 100px;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.offer-items div h2,
p,
h5 {
    margin: 0%;
}

.details {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.side-offers {
    display: flex;

}

.four-offer-box {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

/* Scroll line */

/* last scroll line */
#most-viewed {
    /* font-size: 30px; */
    text-align: center;
    width: 100%;
    /* margin-top: 40px; */
    /* margin-bottom: 40px; */
}

#scroll-box {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
}

#scroll-box::-webkit-scrollbar {
    display: none;
}

.single-box {
    text-align: center;
    border: 1px solid black;
    width: 240px;
    height: 250px;
    padding-top: 10px;
    margin-left: 40px;
    transition: transform .3s;
}

.single-box:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 20px 4px gainsboro;
}

.view-more {
    font-size: 16px;
    margin: 0%;
}

.img-size {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    height: 100px;
}

/* Footer Starting */

.back-to-top {
    margin-top: 40px;
    padding: 20px;
    background-color: #37475a;
    color: white;
    display: block;
    text-align: center;
}

footer {
    background-color: #232f3e;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-around;
}

#footer-logo {
    width: 180px;
    height: 60px;
    margin-left: 70px;
    margin-top: 20px;
}

#footer-email {
    height: 50px;
    width: 350px;
}

#footer-button {
    height: 58px;
    width: 50px;
}

.footer-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: white;
    border-radius: 15px;
}

.footer-h3 {
    color: white;
    margin: 25%;
}

html {
    scroll-behavior: smooth;
}


/* nav drapdown codes */

/* Cart icon */
#cart_icon {
    font-size: 25px;
}

/* cart icon count */
#cart_count {
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bolder;
    /* border: 2px solid black; */
    /* background-color: aqua; */
    border-radius: 100%;
    position: absolute;
    font-size: 18px;
    right: 80px;
    top: 10px;
}

/* Nav Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -110px;
    font-size: 16px;
    text-align: center;
    background-color: #f5f5f7;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 8px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.dropdown-content a:hover {
    color: blue;
}