@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

*{
    font-family: Barlow;
}
body{
    margin: 0%;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #f5f5f7;
    align-items: center;
    /* position: fixed; */
}
#logo{
    width: 180px;
    height: 60px;
    margin-left: 50px;
    margin-right: 350px;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
}
li{
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}
#signup{
    margin-right: 50px;
}
/* nav finished */
#homecover{
    width: 100%;
    height: 800px;
    /* margin-top: 85px; */
}
.center{
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    margin-top: 80px;
}
.imgstore{
    width: 180px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.store{
    margin-bottom: 50px;
    width: 240px;
    height: 240px;
    padding-top: 30px;
    border: 1px solid black;
    transition: transform .2s;
    /* text-align: center; */
}
.store:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 20px 4px black;
}
.store1{
    margin-top: 50px;
    width: 260px;
    height: 230px;
    padding-top: 30px;
    color: white;
    background-color: black;
    /* border: 1px solid gray; */
    margin-bottom: 50px;
}
.stores{
    display: flex;
    justify-content: space-evenly;
}
.floor{
    /* display: flex;
    justify-content: space-around; */
    text-align: center;
}
.floor1{
    display: flex;
    justify-content: space-around;
}
.button{
    padding: 20px;
    background-color: blue;
    color: white;
    margin-left: 42%;
    border-radius: 10px;
}
.star-rating{
    padding: 5px;
    background-color: green;
    border-radius: 10px;
    color: white;
    width: 50px;
}
/* Home FoodCourt starting */
#food-background{
    width: 99%;
    height: 780px;
    z-index: -1;
    position:absolute;
}
.button1{
    padding: 20px;
    background-color: blue;
    color: white;
    margin-left: 41%;
    border-radius: 10px;
}
/* Home Movies */
.movie-list{
    display: flex;
    justify-content: space-around;
}
.movie-img{
    width: 300px;
    transition: transform .2s;
}
.movie-img:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 20px 4px black;
}
.offers-home{
    display: flex;
    justify-content: center;
}

.offers-home-img img{
    width: 490px;
    display: block;
}
/* Home OFFERS Finished */
/* Footer starting */
#homepage{
    margin-top: 40px;
    padding: 20px;
    background-color: #37475a;
    color: white;
    display: block;
    text-align: center;
}
footer{
    background-color: #232f3e;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-around;
}
#footer-logo{
    width: 180px;
    height: 60px;
    margin-left: 70px;
    margin-top: 20px;
}
#footer-email{
    height: 50px;
    width: 350px;
}
#footer-button{
    height: 58px;
    width: 50px;
}
.footer-icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: white;
    border-radius: 15px;
}
.footer-h3{
    color: white;
}


/* Stores Page Starting */

#store-background{
    width: 100%;
    z-index: -1;
    position: absolute;
}
#center{
    width: 100%;
    font-size: 40px;
    position: absolute;
    text-align: center;
    margin-top: 220px;
    color: white;
}
#stores-searchbox{
    width: 600px;
    height: 60px;
    margin-top: 300px;
    margin-left: 30%;
    /* margin-right: 45%;  */
}
#store-search-button{
    padding: 20px;
    color: black;
    border: 1px solid black;
    background-color: white;
}
#store-center{
    text-align: center;
    margin-top: 130px;
    font-size: 35px;
}
.store-black{
    width: 240px;
    height: 240px;
    padding-top: 30px;
    color: white;
    background-color: black;
    border: 1px solid black;
    transition: transform .2s;
}
.store-black:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 20px 4px black;

}
#center-stores{
    margin-left: 100px;
    margin-right: 100px;
}
#center-stores1{
    overflow: hidden;
    overflow-x: scroll;
    /* margin-left: 20px; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 25px;
    width: 100%;

}
#center-stores1::-webkit-scrollbar{
    display: none;
}
#margin-store{
    margin-left: 40px;
}
#margin-store1{
    margin-left: 40px;
    border: 3px;
    border-style: groove;
    border-color: red yellowgreen blue orange;}
#most-viewed{
    background-color: black;
    color: white;
}
html{
    scroll-behavior: smooth;
}

#highlighted{
    border: 3px;
    border-style: groove;
    border-color: red yellowgreen blue orange;
}
